:root {
    font-size: 16px;
    margin: 0;
    padding: 0;
    --text-primary:    white;
    --text-secondary:  lime;
    --bg-primary:    #282C34;
    --bg-secondary:  #21252B;
    --bg-tertiary:   #2e3238;
    --transition-speed:  200ms;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: white;
    background-color: var(--bg-primary);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background: purple;
}

main {
    margin-left: 4rem;
    position: relative;
    height: 100%;
    padding: 0;
}

/*###########################
          Home Page
#############################*/
.team-main {
    background-color: aqua;
    width: 100%;
    height: 68vh;
    position: relative;
}

.team-footer {
    background-color: pink;
    width: 100%;
    height: 30vh;
}

.team-stats {
    background-color: blueviolet;
    width: 30%;
    height: 100%;
}

@media only screen and (max-width: 600px) { 
    main {
        margin-left: 0;
        margin-top: 4.1rem;
    }

    .team-main {
        height: 65vh;
    }

    .team-footer {
        height: 25vh;
    }
}