:root {
    font-size: 16px;
    margin: 0;
    padding: 0;
    --text-primary:    white;
    --text-secondary:  lime;
    --bg-primary:    #282C34;
    --bg-secondary:  #21252B;
    --bg-tertiary:   #2e3238;
    --transition-speed:  200ms;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: white;
    background-color: var(--bg-primary);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background: purple;
}

main {
    margin-left: 4rem;
    position: relative;
    height: 100%;
    padding: 0;
}

#bracketPage {
    border-spacing: 0;
}

/*###########################
          Home Page
#############################*/
.team-main {
    background-color: aqua;
    width: 100%;
    min-width: 420px;
    height: 68vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.team-disp {
    background-color: cadetblue;
    flex: 1 1 70%;
    min-width: 420px;
    display: flex;
    flex-direction: column;
}

.team-drop {
    background-color: coral;
    display: block;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    flex: 1 1 10%;
}

.team-table {
    background-color: cornflowerblue;
    flex: 1 1 90%;
    overflow-y: scroll;
    position: relative;
}

.team-table::-webkit-scrollbar {
    display: none;
}

.team-stats {
    background-color: chartreuse;
    flex: 1 1 30%;
    overflow-y: scroll;
}

.team-stats::-webkit-scrollbar {
    display: none;
}

.team-stats h3 {
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.team-footer {
    background-color: pink;
    width: 100%;
    min-width: 420px;
    height: 29vh;
    overflow-y: scroll;
}

.team-footer::-webkit-scrollbar {
    display: none;
}

.team-footer h3 {
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}


/*###########################
         Team Table
#############################*/
table {
    vertical-align: center;
    width: 100%;
    padding: 5px;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 0;
    border-color: rgb(0, 0, 0);
}

.team-table-header {
    display: table-header-group;
}

.team-table-right {
    border-right: 0;
    position: relative;
    text-align: center;
}

.stats-table-right {
    border: 0;
    position: relative;
    text-align: left;
}

.match-table-right {
    border: 0;
    position: relative;
    text-align: left;
}

.team-table-refresh {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#team-update {
    margin: 0;
    font-size: 10px;
    position: absolute;
    bottom: 12px;
    left: 2px;
}

.notice {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 2px;
    font-size: 10px;
}

/*###########################
         Small Screen
#############################*/
@media only screen and (max-width: 600px) { 
    main {
        margin-left: 0;
        margin-top: 4.1rem;
    }

    .team-main {
        height: 65vh;
    }

    .team-drop {
        padding-top: 0;
    }

    .team-footer {
        height: 25vh;
    }
}