:root {
    font-size: 16px;
    margin: 0;
    padding: 0;
    --text-primary:    white;
    --text-secondary:  lime;
    --bg-primary:    #282C34;
    --bg-secondary:  #21252B;
    --bg-tertiary:   #2e3238;
    --transition-speed:  200ms;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: white;
    background-color: var(--bg-primary);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background: purple;
}

main {
    margin-left: 4rem;
    position: relative;
    height: 100%;
    padding: 0;
}


/*###########################
          Home Page
#############################*/
.team-main {
    /* background-color: pink; */
    position: fixed;
    padding: 0;
    height: 70vh;
    width: 100%;
}

.team-footer {
    position: absolute;
    border-top: 1px solid white;
    margin-top: 70vh;
    height: 26vh;
    width: 100%;
    /* background-color: aqua; */
}

.team-footer h3 {
    margin: 5px;
}

.team-disp {
    /* background-color: aquamarine; */
    position: absolute;
    height: 100%;
    width: 70%;
}

.team-drop {
    position: relative;
    /* background-color: cadetblue; */
    height: 10%;
    width: 100%;
}

.team-stats {
    /* background-color: rgb(232, 238, 175); */
    border-left: 1px solid white;
    float: right;
    position: relative;
    height: 100%;
    width: 30%;
}

.team-stats h3 {
    margin: 5px;
    margin-left: 10px;
}

.team-selector {
    min-width: 10rem;
    margin-left: 4rem;
    margin-top: 1rem;
}

.refresh-all {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*###########################
         Team Table
#############################*/
table {
    vertical-align: center;
    width: 100%;
    padding: 5px;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 0;
    border-color: rgb(0, 0, 0);
}

tr {
  /* background-color: blueviolet; */
}

td {
  /*background-color: darkblue;*/
    width: 25%;
    border-right: 1px solid white;
    padding-right: 3px;
}

.team-table {
  /* background-color: burlywood; */
    position: relative;
    height: 90%;
    width: 100%;
    overflow: scroll;
}

.team-table::-webkit-scrollbar {
    width: 0.25rem;
}

.team-table::-webkit-scrollbar-track {
    background: none;
}

.team-table::-webkit-scrollbar-thumb {
    background: purple;
}

.team-table::-webkit-scrollbar-button {
    width: 0;
}

.team-table-header {
    display: table-header-group;
}

.table-right {
    border-right: 0;
    position: relative;
    text-align: center;
}

.team-table-refresh {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.notice {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
}


/*###########################
    Small Screen Adjustment
#############################*/
@media only screen and (max-width: 600px) {

    main {
        margin: 0;
        padding-bottom: 0;
    }

    .team-main {
        margin-top: 4rem;
    }

    .team-disp {
        position: relative;
        height: 70%;
        width: 100%;
    }

    .team-stats {
        border-left: 0;
        border-top: 1px solid white;
        float: bottom;
        height: 30%;
        width: 100%;
    }

    .team-drop {
        align-content: center;
        padding-bottom: 12px;
    }

    .team-footer {
        
    }
}